*{
    margin: 0;
    padding: 0;
}
.contain{
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll; 
  scroll-behavior: smooth;
}
#Jovic{
    color: black;
    font-size: 750%;
    font-family: 'Inter', sans-serif;
}
.color{
    color: black;
    position: relative;
    left: 76%;
    font-size: 195%;
    font-family: 'Inter', sans-serif;
    display: inline-block;
}
.paragraph{
    color: black;
    font-size: 180%;
    font-family: 'Inter', sans-serif;
}
.about_text{
    color: black;
    font-size: 170%;
    font-family: 'Inter', sans-serif;
}
.colourButton{
    position: fixed;
    border: black;
    border-style: solid;
    padding: 18px;
    cursor: pointer;
}
.text-button{
  left:63%;
}
.button {
    background-color: #4361ee;
    margin-left: 80px;
}
.button_two {
    background-color: #aa505c;
    margin-left: 140px;
}
.button_three {
    background-color: #ffb703;
    margin-left: 200px;
}
.button_four {
    background-color: #06d6a0;
    margin-left: 260px;
}
.button_five {
    background-color: #ffffff;
    margin-left: 20px;
}
#about_image{
    height: 530px;
    padding: 10px 10px;
}
.contact{
    color: black;
    font-family: 'Inter', sans-serif;
    position: absolute;
    font-size: 350%;
    left: 60%;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.popup_image{
    width:2em;
    height:2em;
    margin:0 0.5%;
}
.col-left {
    border:5px solid #000000;
    margin-left: 10%;
    line-height: 170%;
    color: black;
    font-size: 150%;
    height: 600px;
    width: 1000px;
    font-family: 'Inter', sans-serif;
}
.row1 {
    display:flex;
  }
.col-right {
  margin-right: 10%;
  line-height: 170%;
  color: black;
  font-size: 170%;
  height: 600px;
  font-family: 'Inter', sans-serif;
}
body{
  height: 100vh;
  width: 100%;
}

.image_size{
  width:20%;
  height:22%;
}

.popup_image{
    width:2em;
    height:2em;
    margin:0 0.5%;
}


  .photo{
      height: 50%;
      width: auto;
  }
  .images_about{
    width:3em;
    height:auto;
    margin:0 0.5%;
  }

  .item{
    display: flex;
    height: 120px;
    width: 900px;
    border:3px solid #000000;
    margin: 0 auto;
  }
  .item-photo{
      height: 120px;
      width: auto;
      align-items: left;
      border:3px solid #000000;
      border-radius: 2%;
    }
  .item-title{
      font-size: 20px;
      color: black;
      font-weight: bolder;
      font-family: 'Inter', sans-serif;
    }
  .item-description{
    font-size: 20px;
    width: auto;
  }
  .see-github{
    margin-top: 0%;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
  }
  .lead {
    font-size: 1.5rem;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.7);
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
  }
  
  .navbar ul li a:hover {
    color: skyblue;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;   
    /* Scroll Snap */
    scroll-snap-align: center;
  }
  
  section h1 {
    font-size: 4rem;
  }
  section#home{
    background-color: white;
    transition: all 2s ease;
  }
  section#about{
    background-color: white;
    transition: all 2s ease;
  }
  section#portfolio{
    background-color: white;
    transition: all 2s ease;
  }

  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
  }
  
  .my-float{
    margin-top:16px;
  }
  .navbar_two{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.7);
  }
  .navbar_two ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
  }

  .navbar_two ul li {
    margin: 0 1rem;
    padding: 1rem;
  }
  
  .navbar_two ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
  }
  
  .navbar_two ul li a:hover {
    color: skyblue;
  }